name: Documentation

on:
  push:
    branch:
      - 'main'

jobs:
  haddock:
    name: haddock
    runs-on: ubuntu-latest
    concurrency: haddock
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Cache dependencies
        uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4.2.0
        with:
          path: ~/.stack
          key: haddock-${{ hashFiles('stack.yaml', 'package.yaml') }}

      - name: Setup Haskell
        uses: haskell-actions/setup@dd344bc1cec854a369df8814ce17ef337d6e6170 # v2.7.6
        with:
          enable-stack: true

      - name: Build
        id: build
        run: |
          stack haddock --no-haddock-deps
          echo "docs=$(stack path --local-doc-root --no-haddock-deps)" >> $GITHUB_OUTPUT

      - name: Upload
        uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa #v3.0.1
        with:
          path: ${{ steps.build.outputs.docs }}

      - name: Deploy
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
