name: Documentation
permissions: read-all

on:
  push:
    branches:
      - 'main'
    paths:
      - 'package.yaml'
      - '**.hs'
      - '.github/workflows/haddock.yaml'

jobs:
  haddock:
    name: haddock
    runs-on: ubuntu-latest
    concurrency: haddock
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Cache dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.ghcup
            ~/.stack
          key: haddock-${{ hashFiles('stack.yaml', 'package.yaml') }}
          restore-keys: haddock-

      - name: Setup Haskell
        uses: haskell-actions/setup@82e8b5066385702e477d9dc98f287070493e8abd # v2.8.2
        with:
          enable-stack: true

      - name: Build
        id: build
        run: |
          stack haddock --no-haddock-deps
          echo "docs=$(stack path --local-doc-root --no-haddock-deps)" >> $GITHUB_OUTPUT
          echo "version=$(stack query locals symtegration version)" >> $GITHUB_OUTPUT

      - name: Alias
        run: |
          cd ${{ steps.build.outputs.docs }}
          mkdir symtegration
          cd symtegration
          ln -s ../symtegration-${{ steps.build.outputs.version }} latest

      - name: Upload
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b #v4.0.0
        with:
          path: ${{ steps.build.outputs.docs }}

      - name: Deploy
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
