name: HLint
on:
  push:
    branch:
      - 'main'

  pull_request:
    paths:
      - '**.hs'
      - '.hlint.yaml'
      - '.github/workflows/hlint.yaml'

jobs:
  hlint:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: haskell-actions/hlint-scan@3e2feb228d5d90db9ba2bb93c720d83e4c06681c # v1.2.0
