name: Ormolu
permissions: read-all

on:
  push:
    branches:
      - 'main'

  pull_request:
    paths:
      - '**.hs'
      - '.github/workflows/ormolu.yaml'

jobs:
  ormolu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: haskell-actions/run-ormolu@c5eec49879ee294be01c787bcbf7b5a373a37060 # v17
