name: Ormolu
on:
  push:
    branches:
      - 'main'

  pull_request:
    paths:
      - '**.hs'
      - '.github/workflows/ormolu.yaml'

jobs:
  ormolu:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: haskell-actions/run-ormolu@71e9a598a0418f521508102528c6dd95915b62ef # v16
